#business_box{
    height: 1050px;
    width: 100%;
    background-image: url("../image/background/container_bg2.png");
}
#business_content{
    height: 1050px;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    position: absolute;
    padding-top: 100px;
}

.business_hr{
    background-color:#888888;
    height: 2px;
}

.business_img_box{
    width: 250px;
    height: 180px;
    float: left;
    text-align: center;
}

.business_img{
    width: 200px;
    height: 110px;
    margin: 15px auto 5px auto;
    border: 2px solid;
}

.business_img_normal{
    border-color: #888888;
}
.business_img_normal:hover{
    border-color: #fb0058;
}

/*.business_img_active{*/
    /*border-color: #fb0058;*/
/*}*/

.business_img img{
    height: 100%;
}

#business_cover{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 99;
    background-color: rgba(0,0,0,0.7);

    display: none;
}

#business_cover_img{
    position: absolute;
    margin-top: 100px;
    left: 50%;
    border: 2px solid #ffffff;
}