#banner_box{
    height: 650px;
    width: 100%;
    background-image: url("../image/background/container_bg1.gif");
}
#banner_content{
    height: 650px;
    width: 999px;
    left: 50%;
    margin-left: -500px;
    position: absolute;
    background-image: url("../image/background/room_bg.jpg");
}