#pillow_box{
    height: 1000px;
    width: 100%;
    background-image: url("../image/background/container_bg2.png");
}
#pillow_content{
    height: 1000px;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    position: absolute;
    padding-top: 100px;
}

.pillow_hr{
    background-color:#888888;
    height: 2px;
}

.pillow_img{
    width: 600px;
    height: 450px;
    margin: 40px auto;
}

.pillow_des{
    padding-left: 30px;
}
